.container {
    display: flex;
    flex-direction: row;
  }
  
  .item {
    border: 1px solid black;
    padding: 10px;
  }
  
  .header {
    font-weight: bold;
  }
  
  table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid black;
    padding: 5px;
  }
  .nav {
              display: flex;
              justify-content: center;
          }
          .nav a {
              text-decoration: none; 
              color: #292929; 
              font-weight: bold;
              padding: 10px 20px;
              font-size: 20px;
              margin: 4px 10px;
              cursor: pointer;
              justify-content: space-around;
          }
  
  .button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    text-align: center;

  }
          
  .button:hover {
    background-color: #da8879;
  }

  .logout-button {
    text-align: center; /* Center button horizontally */
}