body {
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  height: 40px; /* Set a fixed height for table cells */
}

th {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-top: 5px;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  height: 30px; /* Adjust input field height as needed */
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #da8879;
}